@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

.contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.subtitle {
    font-size: 58px;
}

label {
    width: 60%;
    margin: auto;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 10px 5px 10px;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 7px 10px;
    font-size: 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    border: 1px #777777 solid;
}

input[type="submit"] {
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 1.375rem;
    width: 60%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #2DC269;
    cursor: pointer;
}