html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI","Yu Gothic UI";
}

.contents {
    height: 100%;
    width: 100%;
    display: flex;
}

h2 {
    padding: 30px 25px 30px 25px;
    margin: 0;
}

.subtitle {
    color: #ffffff;
    margin: 0;
}

.subtitle:link {
    color: #ffffff;
}

.side-menu {
    background-color: rgb(74,21,75);
    min-width: 200px;
    max-width: 200px;
    width: 20%;
    height: 100%;
}

.main-nav {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

#nav-title {
    margin-bottom: 10px;
    padding-left: 20px;
}

.item {
    margin-bottom: 5px;
    padding: 2px 20px 2px 20px;
}

.item a {
    width: 100%;
}

#nav-title {
    color: #B9B9B9;
}

.item a:link {
    color: #B9B9B9;
}

.item a:visited {
    color: #B9B9B9;
}

#selected {
    background-color: #3689C6;
}

#selected a:link {
    color: #ffffff;
}

#selected a:visited {
    color: #ffffff;
}

.item a:hover {
    transition: 0.4s;
    color: #ffffff;
}

.side-menu a {
    text-decoration: none;
    display: block;
}


/* profile conpotnent */
.profile .title {
    font-size: 28px;
    font-weight: bold;
    padding: 30px 20px 20px 50px;
}

.profile-wrapper {
    width: 80%;
}

.profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* layout */
form {
    display: flex;
}

.button-wrapper {
    display: flex;
}

.account-info {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.right-side {
    margin-left: 20px;
    display: block;
    text-align: center;
}

.right-side img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 7px 10px;
    font-size: 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    border: 1px #777777 solid;
}

input[type="submit"] {
    color: #ffffff;
    font-size: 16px;
    height: 35px;
    width: 140px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2DC269;
    cursor: pointer;
}

.cancel {
    border: 1px grey solid;
    border-radius: 5px;
    display: block;
    text-align: center;
    height: 35px;
    width: 140px;
}

.button-wrapper a{
    text-decoration: none;
    line-height: 35px;
    font-size: 16px;
}

.button-wrapper a:link {
    color:black;
}

.button-wrapper a:visited {
    color: black;
}

.fileBtn {
    color: #777777;
    font-size: 12px;
    border-bottom: 1px grey solid;
    margin: 2px 120px;
    position: relative;
    margin-bottom: 50px;
}

input[type="file"]{
    display: block;
    text-align: center;
    margin: auto;
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
}

#msg {
	color: #ffffff;
    font-size: 16px;
    margin-left: 50px;
    border: none;
    border-radius: 5px;
    background-color: #2DC269;
    padding-left:15px;
    line-height:35px;
}

#errmsg {
	margin-left: 50px;
}