@charset "UTF-8";


body {
    height: 100%;
    margin: 0;
    font-family: "Segoe UI","Yu Gothic UI";
}

.contents {
    height: 100%;
}

h2 {
    padding: 30px 25px 30px 25px;
    margin: 0;
}

.subtitle {
    color: #ffffff;
    margin: 0;
}

.subtitle:link {
    color: #ffffff;
}

.side-menu {
    background-color: rgb(74,21,75);
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 2;
}

/*
.main {
    width: 80%;
}
*/

.main-nav {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

#nav-title {
    margin-bottom: 10px;
    padding-left: 20px;
}

.item {
    margin-bottom: 5px;
    padding: 2px 20px 2px 20px;
}

.item a {
    width: 100%;
}

#nav-title {
    color: #B9B9B9;
}

.item a:link {
    color: #B9B9B9;
}

.item a:visited {
    color: #B9B9B9;
}

#selected {
    background-color: #3689C6;
}

#selected a:link {
    color: #ffffff;
}

#selected a:visited {
    color: #ffffff;
}

.item a:hover {
    transition: 0.4s;
    color: #ffffff;
}

a {
    text-decoration: none;
    display: block;
}

/* main */
.main {
    height: 100%;
    margin-left: 250px;
}

.wrapper {
    padding-right: 30px;
    position: relative;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-left: 250px;
    padding: 30px 0 20px 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
}

.tweet-list {
    padding: 100px 0;
    /*border: 1px red solid;*/
}

.box-wrapper {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #ffffff;
    padding: 20px 70px 30px 0;
    width: 100%;
    display: flex;
}

.tweet-box {
    padding: 5px;
    border: 1px gray solid;
    background-color: #F1F1F1;
    width: 75%;
    margin-left: 250px;
}

form {
    height: 35px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    background-color: #F1F1F1;
    font-size: 1rem;
    width: 90%;
    padding: 6px 0;
    border: none;
    outline: none;
}


input[type="submit"] {
    border: none;
    padding: 0;
    background: url(../image/send.png);
    background-size: contain;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
}

.tweet-item {
    display: flex;
}

.icon img {
    width: 50px;
    height: 50px;
}

.bookmark img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.time-wrapper {
    display: flex;
    margin-left: 15px;
}

.name {
    font-size: 16px;
}

.date {
    margin-left: 10px;
    font-size: 1ï¼’px;
    color: gray;
    text-align: end;
}

.tweet {
    margin: 5px 50px 50px 15px;
}
