@charset "UTF-8";

html {
    height: 100%;
}

body {
    background-image: url(../image/singin_img.png);
    height: 100%;
    margin: 0;
    background-size: cover;
}

.contents {
    background-color:rgba(74, 21, 75, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.subtitle {
    color: #ffffff;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 3rem;
}

label {
    text-align: left;
    font-size: 12px;
    padding: 6px 10px 5px 10px;
    display: block;
    border-bottom: grey;
}

.login-info {
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 0 10px 5px 10px;
    font-size: 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right:none;
    border-left:none;
    border-top:none;
    outline: none;
}

input[type="submit"] {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.375rem;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 50px;
    background-color: #EAEAEA;
    cursor: pointer;
    
}


a:link {
    color: grey;
}

a:visited {
    color: grey;
}

a {
    font-size: 10px;
    width: 100%;
    text-align: right;
}